.add-user-form {
  background: #76b852;
  display: flex;
  min-height: 35vh;
  min-width: 60vh;
  justify-content: center;
  align-items: center;
  margin-top: 2em !important;
}

.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  border-radius: 5px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  min-width: 30vh;
}

.validation-span {
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

.input-background {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #EF233C;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.addUserButtons {
  width: 8em;
  position: relative;
}
